<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../design/index.css">
    <link rel="icon" type="image/jpg?w"
        href="https://img.freepik.com/premium-vector/kraken-logo-icon-illustration_586739-125.jpg?w=360" />
    <title>KrakenGames</title>
</head>

<body>
    <nav>
        <label class="logo">KrakenGames</label>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li class="dropdown">
                <a href="#">Categories</a>
                <ul class="dropdown-content">
                    <li><a href="#" class="categorie">Action</a></li>
                    <li><a href="#" class="categorie">Adventure</a></li>
                    <li><a href="#" class="categorie">Puzzle</a></li>
                    <li><a href="#" class="categorie">Role-playing</a></li>
                    <li><a href="#" class="categorie">Simulation</a></li>
                    <li><a href="#" class="categorie">Strategy</a></li>
                    <li><a href="#" class="categorie">Sports</a></li>
                </ul>
            </li>
            <li><a href="#">Top Games</a></li>
            <li><a href="https://discord.gg/jtNZhDf9" target="_blank">Discord</a></li>
        </ul>
    </nav>

    <script>
        // Add JavaScript for dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function() {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function() {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>
</body>

</html>
