<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <span>Title: </span>
        <input type="text" id="title">
    </div>
    <div>
        <span>Image</span>
        <input type="file" id="image">
    </div>
    <div>
        <span>Content</span>
        <input type="text" id="content">
    </div>
    <div>
        <span>Screens</span>
        <input type="file" multiple id="screens">
    </div>
    <button onclick="Submit()">submit</button>

    <script src="../scripts/post.js"></script>
</body>

</html>