<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2 class="form-title">Add New Game</h2>

    <label for="title">Title:</label>
    <input type="text" id="title" />

    <label for="image">Image:</label>
    <input type="file" id="image" />

    <label for="content">Content:</label>
    <textarea id="content"></textarea>

    <label for="screens">Screenshots:</label>
    <input type="file" multiple id="screens" />

    <h3 class="section-title">System Requirements</h3>
    <label for="os">OS:</label>
    <input type="text" id="os" />

    <label for="processor">Processor:</label>
    <input type="text" id="processor" />

    <label for="memory">Memory:</label>
    <input type="text" id="memory" />

    <label for="graphics">Graphics:</label>
    <input type="text" id="graphics" />

    <label for="directX">DirectX:</label>
    <input type="text" id="directX" />

    <label for="storage">Storage:</label>
    <input type="text" id="storage" />

    <h3 class="section-title">Game Information</h3>

    <label for="genre">Genre:</label>
    <input type="text" id="genre" />

    <label for="developer">Developer:</label>
    <input type="text" id="developer" />

    <label for="platform">Platform:</label>
    <input type="text" id="platform" />

    <label for="gameSize">Game Size:</label>
    <input type="text" id="gameSize" />

    <label for="releasedDate">Released Date:</label>
    <input type="text" id="releasedDate" />

    <label for="version">Version:</label>
    <input type="text" id="version" />

    <button onclick="Submit()">Submit</button>
    <script src="../scripts/post.js"></script>
</body>

</html>